<link rel="stylesheet" type="text/css" media="all" href="<?php echo base_url(); ?>assets/css/search-filter-menu.css" />
<!--<span>Filter Assets</span>-->
<ul id="menu">
 
     <li><a href="#" class="drop">Media Category</a><!-- Begin Media Category Item -->
     
        <div class="dropdown_2columns"><!-- Begin 1 columns container -->
            <!--
            <div class="col_2">
                <h2>Select Media Category</h2>
            </div>
             -->
            <div class="col_1">
             
                <h3>Select Option</h3>
                <ul>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Outdoor</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Indoor</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Rolling Media</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Print</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Radio</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Other</a></li>
                </ul>   
                  
            </div>
           
        </div><!-- End 2 columns container -->
     
    </li><!-- End Media Category Item -->
  
    <li><a href="#" class="drop">Media Type </a><!-- Begin 4 columns Item -->
     
        <div class="dropdown_4columns"><!-- Begin 4 columns container -->
         
            <div class="col_4">
                <h3>Select Option(s)</h3>
            </div>
            <!-- 
            <div class="col_1">
             
                <h3><a href='#'>Select All</a></h3>
                <ul>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Outdoor</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Indoor</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Rolling Media</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Print</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Radio</a></li>
                    <li><a href="#"><input type='radio' name='indoor_outdoor'>Other</a></li>
                </ul>   
                  
            </div>
            -->
            <div class="col_1">
             
                <h3><a href='#'>Select All</a></h3>
                <ul>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Dustbin</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Billboards</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Busshelter</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Streetpole</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Radio</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Digital</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Mobile</a></li>
                </ul>   
                  
            </div>
     
            <div class="col_1">
             
                <h3><a href='#'>Clear All</a></h3>
                <ul>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Dustbin</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Billboards</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Busshelter</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Streetpole</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Radio</a></li>
          <li><a href="#"><input type='checkbox' name='media_family[]'>Digital</a></li>
          <li><a href="#"><input type='checkbox' name='media_family[]'>Mobile</a></li>
                </ul>  
                  
            </div>
     
            <div class="col_1">
             
                <h3>.</h3>
                <ul>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Dustbin</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Billboards</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Busshelter</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Streetpole</a></li>
                    <li><a href="#"><input type='checkbox' name='media_family[]'>Radio</a></li>
          <li><a href="#"><input type='checkbox' name='media_family[]'>Digital</a></li>
          <li><a href="#"><input type='checkbox' name='media_family[]'>Mobile</a></li>
                </ul>   
                  
            </div>
             
        </div><!-- End 4 columns container -->
     
    </li><!-- End 4 columns Item -->

    <li class="menu_right"><a href="#" class="drop" title="Appl Filters">Apply</a>
    </li>

     <li class="menu_right"><a href="#" class="drop">Campaign Status</a>
     
        <div class="dropdown_1column align_right">
         
            <div class="col_1">
              <h3> <a href="#">Select/Clear All</a></h3>
              <ul class="simple">
                <li><a href="#"><input type='checkbox' name='media_status[]'>Available</a></li>
                <li><a href="#"><input type='checkbox' name='media_status[]'>Reserved</a></li>
                <li><a href="#"><input type='checkbox' name='media_status[]'>Booked</a></li>
                <li><a href="#"><input type='checkbox' name='media_status[]'>Running</a></li>
              </ul>   
                      
            </div>

        </div>
         
    </li>
  
    <li class="menu_right"><a href="#" class="drop">Media Status</a>
     
        <div class="dropdown_1column align_right">
         
                <div class="col_1">
          <h3> <a href="#">Select/Clear All</a> </h3>
                    <ul class="simple">
            <li><a href="#"><input type='checkbox' name='media_status[]'>Available</a></li>
            <li><a href="#"><input type='checkbox' name='media_status[]'>Reserved</a></li>
            <li><a href="#"><input type='checkbox' name='media_status[]'>Booked</a></li>
            <li><a href="#"><input type='checkbox' name='media_status[]'>Running</a></li>
                    </ul>   
                      
                </div>
                 
         
        </div>
         
    </li>
 
     <li class="menu_right"><a href="#" class="drop">Active / Inactive</a>
     
        <div class="dropdown_1column align_right">         
          <div class="col_1">
          <h3> Select Option(s) </h3>
            <ul class="simple">
            <li><a href="#"><input type='checkbox' name='media_status[]'>Active</a></li>
            <li><a href="#"><input type='checkbox' name='media_status[]'>Inactive</a></li>
            </ul>   
          </div>                          
        </div>
         
    </li>

     <li class="menu_right"><a href="#" class="drop">Auction</a>
     
        <div class="dropdown_1column align_right">
          <div class="col_1">
          <h3> Select Option(s) </h3>
            <ul class="simple">
              <li><a href="#"><input type='checkbox' name='media_status[]'>On Auction</a></li>
              <li><a href="#"><input type='checkbox' name='media_status[]'>Scheduled Auction</a></li>
              <li><a href="#"><input type='checkbox' name='media_status[]'>Past Auction</a></li>
            </ul>   
          </div>
        </div>
         
    </li>

</ul>
