/* load asset custom style to ovewrite main site style */
input {
	width: auto; /* overide default site input element witdth of 190px */
}
div.mapping_legend{
	text-align: left;
}
.mapping_legend input[type="checkbox"] {
	width:50px;


.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
#map-canvas img {max-width: inherit !important; max-height: inherit !important}
#map-canvas-sell img {max-width: inherit !important; max-height: inherit !important}